<h1>Ajouter CV</h1>
<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>
<form #formulaire="ngForm">

<div class="row">

      <div class="col-md-12">
          <label for="name" >Name</label>
          <input required type="text" id="name" ngModel name="name" class="form-control">
      </div>

      <div class="col-md-12"> 
          <label for="firstname" >Firstname</label>
          <input required type="text" id="firstname" ngModel name="firstname" class="form-control">  
      </div>

      <div class="col-md-12">
          <label for="job" >Job</label>
          <input required type="text" id="job" ngModel name="job" class="form-control">
      </div>

      <div class="col-md-12">
          <label for="age" >Age</label>
          <input required min="0" max="170" type="number" id="age" ngModel name="age" class="form-control"> 
      </div>

      <div class="col-md-12">
          <label for="cin" >Cin</label>
          <input required type="number" id="cin" ngModel name="cin" class="form-control">
      </div>

      <div class="col-md-12">
          <label for="path" >Path</label>
          <input type="text" id="path" ngModel name="path" class="form-control">
      </div>

      <button [disabled]="formulaire.invalid" (click)="addPersonne(formulaire)" class="btn btn-primary">Ajouter</button>
</div>

</form>