

<app-fils (sendRequestToData)="processReq($event)" [filsProperty]="color"></app-fils>

<div [style.backgroundColor]="color" [style.borderColor]="border">
  color
</div>
<!-- <input #inputColor 
       (change)="changeColor(inputColor)"
       type="text"
       class="form-control"> -->

    <input  [(ngModel)]="color" [(ngModel)]="border"
            type="text"
            class="form-control"
    >

    le contenu de la propriété color est {{color}} <br>
    le contenu de la propriété Border color est {{border}}
  
    <button class="btn btn-danger" (click)="loggerMesData()">
      Log Haboub 2
    </button><br>
    <a href="" (click)="goToCv()" > Go to Cv</a>