<!-- 
 <div class="alert alert-success">
  Bonjour  {{ title }}!    <i class="fa fa-smile-o"></i><br>
  Bootstrap    <i class="fa fa-address-book-o" aria-hidden="true"></i>
</div>


<div class="uk-top"  [hidden]="show" [style.backgroundColor]="bgColor">
  Binding {{ bgColor }}
</div>
<button class="btn btn-danger uk-top uk-bottom" (click)="cahngeStatus()">
  Allumer/etiendre
</button>

 -->


<!--   <app-cv></app-cv>  -->
<app-header></app-header>
<app-search></app-search>
<!-- <app-http></app-http> -->
<!-- <app-router-simulater></app-router-simulater> -->
<!-- <app-observable></app-observable> -->

  <router-outlet></router-outlet>
<!--  <app-style [color]="'white'" [bgColor]="'red'" [size]="'100px'"></app-style> -->
<!-- <app-class></app-class> -->
<!-- <app-color></app-color>  -->